{% extends "reg/base.html" %}
{% block body_block %}
<div class="jumbotron">
  {% if registered %}
    <h1>Thankyou for registering!!</h1>
    Now you can login by clicking here.

  {% else %}
      <h1>Register here</h1>
      <h3>Fill up the form!</h3>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{userform.as_p}}
        {{profileform.as_p}}
        <input type="submit" name="" value="Register">
      </form>
    {% endif %}

</div>
{% endblock %}
